<script type="text/javascript"><!--
function start_loading() {
  document.getElementById('loading').style.display = "inline";
  soundapi.playFile('final_kamen.mp3');
}
//-->
</script>

<h2>twitterのidを入力してください。</h2>
<p>画像のURLでもなんとかなるかもしれません。</p>
<form method="post" action="/" onsubmit="start_loading()" >
<p>
  クウガ<input type="text" name="kuuga" class="input" /><br />
  アギト<input type="text" name="agito" class="input" /><br />
  龍騎<input type="text" name="ryuki" class="input" /><br />
  555<input type="text" name="faiz" class="input" /><br />
  ブレイド<input type="text" name="blade" class="input" /><br />
  響鬼<input type="text" name="hibiki" class="input" /><br />
  カブト<input type="text" name="kabuto" class="input" /><br />
  電王<input type="text" name="den_o" class="input" /><br />
  キバ<input type="text" name="kiva" class="input" /><br />
  ディケイド<input type="text" name="decade" class="input" /><br />

  <input type="submit" value="通りすがりの仮面ライダーだ！覚えとけ！" />
</p>
</form>

<div id="loading">
  <img src="loader.gif" alt="loading" />
</div>

<h2>特殊ID</h2>

<p>特別の画像を使用します。</p>

<ul>
<li>ruby-matz</li>
<li>ruby-ko1</li>
<li>ruby-akr</li>
<li>ruby-why</li>
<li>ruby-takahashim</li>
</ul>
