<script><!--
function start_loading() {
  document.getElementById('loading').style.display = "inline";
}
//-->
</script>

<style type="text/css">
#loading {
    position:absolute;
    top:50%;
    left:50%;
    display:none;
}
</style>

<h2>twitterのidを入力してください</h2>
<form method="post" action="/" onsubmit="start_loading()" />
  クウガ<input type="text" name="kuga" /><br />
  アギト<input type="text" name="agito" /><br />
  龍騎<input type="text" name="ryuki" /><br />
  555<input type="text" name="fives" /><br />
  ブレイド<input type="text" name="blade" /><br />
  響鬼<input type="text" name="hibiki" /><br />
  カブト<input type="text" name="kabuto" /><br />
  電王<input type="text" name="denou" /><br />
  キバ<input type="text" name="kiva" /><br />
  ディケイド<input type="text" name="decade" /><br />
  <input type="submit" value="通りすがりの仮面ライダーだ！" />
</form>
</div>

<div id="loading">
  <img src="loader.gif" />
</div>

<h2>特異点</h2>

<ul>
<li>yukihiro_matz（別の画像を使用します。鬼太郎だもの。）</li>
<li>_ko1（アイコンがないので別の画像を使用します）</li>
<li>akr（twitterにいらっしゃらないので、別の画像を使用します。twitterのakrさんは使えません。ごめんなさい。）</li>
<li>_why（別の画像を使用します。）</li>
<li>takahashim（白いので、別の画像を使用します。）</li>
</ul>
