<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title>completed form generator</title>
    <style type="text/css">
      #loading {
      position:absolute;
      top:50%;
      left:50%;
      display:none;
      }
    </style>
  </head>
  <body>
    <h1>completed form generator</h1>
    <%= yield %>
  </body>
</html>
