<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title>completed form generator</title>
    <style type="text/css">
      #loading {
        position:absolute;
        top:50%;
        left:50%;
        display:none;
      }
      .input {
        background-color: #E6E6FA;
        width:400px;
        height:30px;
        font-size:120%;
      }
      .button-to, .button-to > div {
        display: inline;
      }
    </style>
  </head>
  <body>
    <h1><a href="/">completed form generator</a></h1>
    <%= yield %>

    <hr />
    <p>
      <a href="/">HOME</a> |
      <a href="/list">一覧</a> |
      <a href="http://twitter.com/?status=@kdmsnr%20">お問い合せ via twitter</a> |
      <a href="http://github.com/kdmsnr/completed_form_generator/tree/master">ソースはこちら</a>
    </p>
  </body>
</html>
