<p>数時間で消えるかも。早くReblogしよう。</p>
<p><img src="/photo/<%=h @id %>" alt="completed_form" width="1200" height="1600"/></p>

<form method="post" action="/photo/<%=h @id %>" class="button-to">
  <div>
    <input type="hidden" name="_method" value="delete" />
    <input onclick="return confirm('削除しますか？');"
           value="削除" type="submit" />
  </div>
</form>
